@use "../../styles/variable" as vars;

.statusBadge {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 6px 8px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
    z-index: 10;
    display: flex;
    align-items: center;
    background: #D9C6E8;
    color: #8B3DC9;
    gap: 4px;

    span {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    img {
        height: 16px;
        width: 16px;
    }

    &--pending {
        color: #803A00;
        background-color: #FFB75C;
    }
}