@use "../../styles/variable" as vars;

.photoGeneratedPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    width: 100%;
    flex: 1;

    @media (max-width: 991px) {
        padding: 32px 0;
        justify-content: flex-start;
    }

    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        width: 100%;
        text-align: center;

        .backButton {
            align-self: flex-start;
            margin-bottom: 0;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 40px;

        @media (max-width: 991px) {
            gap: 32px;
        }
    }

    &__eventTitle {
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        color: vars.$text-primary;
        letter-spacing: -5%;

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            width: 100%;

            .button {
                width: 100%;
            }
        }

    }
}

.photoContainer {
    position: relative;
    width: 100%;
    border-radius: vars.$border-radius-main;
    border: 12px solid vars.$white;
    overflow: hidden;
    background: vars.$white;
    box-sizing: border-box;
    box-shadow: vars.$shadow-main;
    max-width: 868px;
    margin: 0 auto;

    @media (max-width: 991px) {
        border: 6px solid vars.$white;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}

.socialShare {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &__text {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        color: vars.$text-secondary;
        margin: 0;
    }

    &__icons {
        display: flex;
        gap: 16px;
    }

    &__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            transform: translateY(-2px);
        }

    }
}